body {
 margin: 0;
  font-family: 'Cairo', sans-serif;
  background-color:rgb(172 216 186 / 34%) ;
  color: #2b2b2a;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 60px;
  background-color: #eef3f7;
  border-bottom: 1px solid #ddd;
}
.header .nav {
  display: flex;
  margin:0;
  gap: 20px;
  align-items: center;
  padding: 10px 20px;
  border-radius: 12px;
  background-color: #90ddb3;
  border-bottom: 1px solid #ffff;
}

.header h1 {
  font-size: 22px;
  font-weight: 600;
  margin: 0;
}

.nav a {
  text-decoration: none;
  color: #2b2b2a;
  font-weight: 500;
}
.nav a:hover {
  background-color: #ffecec;
}

.get-started {
  padding: 8px 18px;
  border-radius: 8px;
  border: 2px solid #9BB4C0;
  background-color: transparent;
  color: #4fa6a6;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
}
.login:hover {
  background-color: #7fa0ad;
}

.get-started:hover {
  background-color: #9BB4C0;
  color: white;
}
.main-content {
 max-width:1000px;
 margin: 40px auto;
 padding:40px;
 background-color:#c5e3d5;
 border-radius:10px;
}
.home.main-content{
 display:flex;
 gap:24px;
 max-width:1000px;
}
.about {
  margin-bottom: 50px;
}
.about h2 {
  margin-bottom: 10px;
 text-shadow: 2px 2px 4px gray;
}
.profile-img {
  margin-top: 15px;
  border-radius: 6px;
}
.skills h2 {
  margin-bottom: 10px;
}
table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

th {
  background-color: #eef3f7;
  text-align: left;
}

th, td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

footer {
  background-color:#363b39;
  color: white;
  text-align: center;
  padding: 25px;
  margin-top: 60px;
  font-size: 14px;
}
.social-media {
  margin-top: 10px;
}
.icon {
  display: inline-block;
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: transform 0.3s, color 0.3s;
}
.icon:hover {
  transform: translateY(-5px) scale(1.1);
  color: #F4D35E; 
}

.linkedin:hover { color: #0077b5; }
.github:hover { color: #333; }
.email:hover { color: #e74c3c; }

.contact-page .main-content {
 margin: 50px 0 50px 50px; /* يسار */
 padding:30px;
 border-radius: 10px;
 box-shadow:0 4px 6px rgba(0,0,0,0.1);
 max-width:600px;
  font-family: Arial, sans-serif;
  background:#4fa6a6;
  color: #333;
}

.contact-page .nav {
  display: flex;
  justify-content: flex-start;
  gap: 180px;
  width: fit-content;
  margin: 40px 0 20px 50px;
  padding: 10px 20px;
  border-radius: 12px;
  background-color: #cccccc3b;}

.contact-page .nav a {
  color:#333 ;
  text-decoration: none;
  padding: 6px 14px;
  font-weight: bold;
  border-radius: 6px;
}
.contact-page .nav a:hover {
  background-color: #3D7B7B;
}

.contact-form{ margin-top: 20px;}

.contact-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.contact-form .form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-input:focus {
  outline: none;
  border-color: #4fa6a6;
}
.contact-form .submit-btn {
  background-color: #2b2b2a;
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 5px;
  cursor: pointer;
}
 .contact-form .submit-btn:hover {
  background-color: #45a049;
}
