body {
 display: grid;
 margin: 0;
  font-family: 'Cairo', sans-serif;
  background-color: #ebdfdf;
  color: #2b2b2a;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 60px;
  background-color: #ebdfdf;
  border-bottom: 1px solid #ddd;
}

.h1 {
  font-size: 28px;
  color: #2b2b2a;
 font-weight: 600;
 text-shadow: 2px 2px 4px gray;
}

.nav {
 background-color: #4fa6a6;
 padding: 10px 20px;
  border-radius: 12px;
  display: flex;

}

.nav a {
 color: white;
  text-decoration: none;
 font-weight: 500;
 margin: 0 12px;
 transition: 0.3s;
}
.nav a:hover {
  background-color: #ffecec;
}

.login,.get-started {
  font-weight: bold;
  background-color: #9BB4C0;
  padding: 8px 16px;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}
.login:hover {
  background-color: #7fa0ad;
}
.get-started {
  background-color: #e5e8d8;
  color: #4fa6a6;
  border: 2px solid #9BB4C0;
}

.get-started:hover {
  background-color: #9BB4C0;
  color: white;
}

.main-content {
  max-width: 600px;
  margin: 40px auto;
  background: #f0ebdd;
 color:2b2b2a;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,2,2,0.1);
}

.about {
  margin-bottom: 50px;
}

.about h2 {
  margin-bottom: 10px;
 text-shadow: 2px 2px 4px gray;
}

.profile-img {
  margin-top: 15px;
  border-radius: 6px;
}
.skills h2 {
  margin-bottom: 10px;
}
table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

th {
  background-color: #eef3f7;
  text-align: left;
}

th, td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

footer {
  background-color:#363b39;
  color: white;
  text-align: center;
  padding: 25px;
  margin-top: 60px;
  font-size: 14px;
}
.social-icons {
  margin-top: 10px;
}
.icon {
  display: inline-block;
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: transform 0.3s, color 0.3s;
}
.icon:hover {
  transform: translateY(-5px) scale(1.1);
  color: #F4D35E; 
}

.linkedin:hover { color: #0077b5; }
.github:hover { color: #333; }
.email:hover { color: #e74c3c; }

body.contact-page {
  max-width: 600px;
  margin: 40px auto;
  font-family: Arial, sans-serif;
  background: #ebdfdf;
  padding: 30px;
  border-radius: 10px;
  color: #333;
}

.nav {
  display: flex;
  background-color: #50A6A6;
  padding: 10px 0;
}
.nav a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  margin: 0 15px;
  font-weight: bold;
 border-radius: 4px;
}
.nav a:hover {
  background-color: #3D7B7B;
}
.main-content {
  max-width: 600px;
  margin: 40px auto;
  background: #f0ebdd;
 color:2b2b2a;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,2,2,0.1);
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.contact-form .form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}


.form-input:focus {
  outline: none;
  border-color: #4fa6a6;
}
.contact-form .submit-btn {
  background-color: #3CB371;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
}
 .contact-form .submit-btn:hover {
  background-color: #45a049;
}

