body {
 display: grid;
 margin: 0;
  font-family: 'Cairo', sans-serif;
  background-color: #FCF9EA;
  color: #FFA4A4;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
}

.logo {
  font-size: 22px;
  color: #FFA4A4;
}

.nav {
  display: flex;
  gap: 15px;
 background-color:#BDE3C3;
}

.nav a {
  text-decoration: none;
 
  font-size: 14px;
  padding: 6px 8px;
}
.nav a:hover {
  color: white;
  background-color: #4DA8DA;
}

.login {
  font-weight: bold;
 background-color:#F5F5F0;
}

.main-content {
  padding: 40px;
 margin: auto;
}


.about {
  margin-bottom: 50px;
}

.about h2 {
  margin-bottom: 10px;
}

.profile-img {
  margin-top: 15px;
  border-radius: 6px;
}
.skills h2 {
  margin-bottom: 10px;
}
table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

th {
  background-color: #eef3f7;
  text-align: left;
}

th, td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

footer {
  background-color: #5D866C;
  color: white;
  text-align: center;
  padding: 25px;
  margin-top: 60px;
  font-size: 14px;
}

body.contact-page{
 display:grid;
 margin: 0;
 font-family: Arial, sans-serif;
  background-color: #EEE6CA;
  color: #333; }
.nav {
  display: flex;
  justify-content: center;
  background-color: #333;
  padding: 10px 0;
}
.nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

.main-content {
  max-width: 600px;
  margin: 40px auto;
  background: #ECF4E8;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,2,2,0.1);
}
.contact-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.contact-form .form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.contact-form .submit-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
}
 
