body {
 margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #f5f7fa;
  color: #333;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: white;
  border-bottom: 1px solid #ddd;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.nav {
  display: flex;
  gap: 15px;
}

.nav a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.login {
  font-weight: bold;
}

.btn {
  border: 1px solid #333;
  padding: 8px 14px;
}
.main-content {
  padding: 40px;
}


.about {
  margin-bottom: 50px;
}

.about h2 {
  margin-bottom: 10px;
}

.profile-img {
  width: 200px;
  margin-top: 15px;
}
.skills h2 {
  margin-bottom: 10px;
}
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

th {
  background-color: #eee;
}
footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}
