body {
 display: grid;
 margin: 0;
  font-family: 'Cairo', sans-serif;
  background-color: #dbc5c5;
  color: #F0E491;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #ebdfdf;
  border-bottom: 1px solid #ddd;
}

.logo {
  font-size: 20px;
  color: #89959c;
}

.nav {
  display: flex;
  gap: 15px;

}

.nav a {
  text-decoration: none;
  font-size: 14px;
  padding: 6px 8px;
}
.nav a:hover {
  color: white;
  background-color: #4DA8DA;
}

.login {
  font-weight: bold;
 background-color:#9BB4C0;
}
.get-started { 
 font-weight: bold;
 background-color:#9BB4C0; }

.main-content {
 background-color:E6E6E6;
  padding: 40px;
 margin: auto;
}


.about {
  margin-bottom: 50px;
}

.about h2 {
  margin-bottom: 10px;
 text-shadow: 2px 2px 4px gray;
}

.profile-img {
  margin-top: 15px;
  border-radius: 6px;
}
.skills h2 {
  margin-bottom: 10px;
}
table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

th {
  background-color: #eef3f7;
  text-align: left;
}

th, td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

footer {
  background-color: #37353E;
  color: white;
  text-align: center;
  padding: 25px;
  margin-top: 60px;
  font-size: 14px;
}

body.contact-page{
 margin: 0;
 font-family: Arial, sans-serif;
  background-color: #F6F1E7;
  color: #333; }
.nav {
  display: flex;
  justify-content: center;
  background-color: #50A6A6;
  padding: 10px 0;
}
.nav a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  margin: 0 15px;
  font-weight: bold;
 border-radius: 4px;
}
.nav a:hover {
  background-color: #3D7B7B;
}

.main-content {
  max-width: 600px;
  margin: 40px auto;
  background: #E6F1EA;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,2,2,0.1);
}
.contact-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.contact-form .form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.contact-form .submit-btn {
  background-color: #3CB371;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
}
 .contact-form .submit-btn:hover {
  background-color: #45a049;
}

